@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.logo img{
    height: 4.4rem;
}
.navbar{
    display: flex;
    width: 90%;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.navlist{
    display: flex;
    gap: 2rem;

}
.navlist a{
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: .08rem;
}
.navlist .silder{
    background-color: rgba(255, 255, 255, 0.479);
    width: 6rem;
    height: 4.5rem;
    position: absolute;
    top: 0;
    right: 395px;
    border-radius: 0 0 2rem 2rem;
    border-top: .3rem solid #2c1e1e;
    backdrop-filter: blur(.5rem);
    z-index: -1;
    transition: all 0.5s ease-in-out;
}
.navlist li:nth-child(2):hover ~ .silder{
    right: 310px;
}
.navlist li:nth-child(3):hover ~ .silder{
    right: 210px;
}
.navlist li:nth-child(4):hover ~ .silder{
    right: 95px;
}
.navlist li:nth-child(5):hover ~ .silder{
    right: -10px;
}
.hero{
    display: flex;
}
.hero .left{
    background-color: #2c1e1e;
    color: #fff;
    padding-left: 3.5rem;
}
.content h1{
    font-size: 5rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .08rem #fff;
    letter-spacing: 0.2rem;
    font-family: "Lemon", serif;
    font-weight: 400;
    font-style: normal;
}
.content p{
    color: rgba(255, 255, 255, 0.502);
    font-size: 1.2rem;
    max-width: 75%;
    line-height: 2rem;
    margin: 1rem 0;
}
.content button{
    padding: .8rem 3rem;
    background: radial-gradient(at top left,#9e6d4c,#2c1e1e);
    color: #fff;
    border-radius: 3rem;
    letter-spacing: .1rem;
    border: .1rem solid rgba(255, 255, 255, 0.507);
    font-size: 1.1rem;
}
.content button:hover{
    background: radial-gradient(at bottom right,#9e6d4c,#2c1e1e);
}
.hero .right{
    background-color: #7c573c;
    justify-content: center;
}
.right img{
   height: 60%;
   padding-left: 3rem;
}
.hero_split{
    width: 50%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.middle .circle{
    width: 9rem;
    height: 9rem;
    background-color: #fff;
    border-radius: 8rem;
    position: relative;
}
.middle .circle:nth-child(1){
    background-image: url(coffee_powder.jpg);
    background-size: 350px;
    background-position: center;
}
.middle .circle:nth-child(2){
    margin: 2rem 0;
    background-image: url(coffee_beans.jpg);
    background-size: cover;
}
.middle .circle:nth-child(3){
    background-image: url(coffee_plant.png);
    background-size: 500px;
    background-position: center;
}
.middle .circle::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    border-radius: 8rem;
    border: 2.5px dashed #fff;
    padding: .2rem;
}